[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = git@github.com:jywang99/neovim.git
